[submodule "libs/OpenMesh"]
	path = libs/OpenMesh
	url = https://www.graphics.rwth-aachen.de:9000/OpenMesh/OpenMesh.git
[submodule "libs/ode-cmake"]
	path = libs/ode-cmake
	url = https://github.com/rmuenste/ode-cmake.git
